{% load i18n %}

{% block TitlePage %}
<title> {% trans "Intelly Serve" %}</title>
{% endblock %}



{% block MainCSS %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

    
{% block MainContent %}

    <div id="page-content">
        <div id='wrap'>
            <div align="right">
                <a href="/">Home</a>
            </div>
            <div id="page-heading">
                <h1>{% trans "EMp Register Form" %}</h1>
            </div>

            
    {% if message %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>{% trans "Success" %}!</strong> {{ message }}
        </div>
    {% endif %}

        
    
            <div class="container">
                <div class="row">
                    <div id="new-user" class="add-user-panel">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>{% trans "Emp Register Form" %}</h4> 
                                <div class="options">                           
                                </div>
                            </div>
                            
                            <div class="panel-body">

                        <form action="" method="POST" class="form-horizontal row-border" data-validate="parsley" id="validate-form" >
{% csrf_token %}
        {{ form.non_field_errors }}                 

                
                <div class="form-group">
                
                    <label class="col-sm-2 control-label">{% trans "Emp Name" %}</label>
                    <div class="col-sm-4">
                        <div class="input-group" style="width:100%" > 
                        
                          <input type="text" class="form-control"   id="emp_name" name="emp_name" required="required" />
                          
                        </div>
                    </div>
                    
                                    
                    <label class="col-sm-2 control-label">{% trans "Emp No" %} :</label>
                    <div class="col-sm-4">
                        <div class="input-group" style="width:100%" > 
                          <input type="text" class="form-control"   id="emp_no" name="emp_no" required="required" />
                          
                        </div>
                    </div>
                                
                </div>
                
                
                <div class="form-group">
                
                    <div class="col-sm-12">
                        <div class="input-group text-center" style="width:100%" > 
                         <button class="btn-success btn" onclick="javascript:$('#validate-form').parsley( 'validate' );">{% trans "Save" %}</button>
                        <button class="btn-danger btn">{% trans "Cancel" %}</button>
                            
                        </div>
                        
                    </div>
                    
                </div>
    

                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row -->
            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->

{% endblock %}

